<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://apiyugiohdeck.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e4639828-008d-4dc0-8aeb-88da201788d5/resourceGroups/ProjectDP/providers/Microsoft.Web/sites/apiyugiohdeck</ResourceId>
    <UserName>$apiyugiohdeck</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://apiyugiohdeck.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>